body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #092038;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #164170;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

input {
    padding: 5px;
    margin-top: 5px;
}

button {
    background-color: #091f3a;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}


/*CSS (styles.css):

Estilizações gerais:

body: Define a fonte, margens e preenchimento.
header: Estiliza o cabeçalho.
main: Limita a largura máxima do conteúdo e centraliza-o.
section: Define o espaçamento entre as seções.
h2: Define a cor dos títulos secundários.
footer: Define o estilo do rodapé.
Estilos do formulário:

form: Formata o layout do formulário.
label: Define o espaçamento para as etiquetas.
input: Estiliza os campos de entrada.
button: Estiliza o botão de envio.*/

























